#s1 {
	position: relative;
	top: -344px;
	left: 404px;
}
#s2 {
	position: relative;
	top: -345px;
	left: 404px;
}
#s3 {
	position: relative;
	top: -346px;
	left: 404px;
}
#s4 {
	position: relative;
	top: -503px;
	left: 490px;
}
#s5 {
	position: relative;
	top: -504px;
	left: 490px;
}
#s6 {
	position: relative;
	top: -505px;
	left: 490px;
}